@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Raleway&display=swap');

.main-wrapper{
  font-family: 'Dosis', sans-serif;
  color: #3c6385;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
p{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

select{
  width: 100%;
  position: relative;
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
  width: 20%;
  padding: 5px 15px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  height: 34px;
}


option{
  color: #213547;
}
body{
  
  background-color: gray;
}